<div class="container-fluid footer-bar text-center w-100 p-0">

    <ul class="row w-100 px-1 py-2 mx-0 mb-0">

        <li class="col-3">
            <a href="index.php">
                <img src="./images/footer-icon/info.png" alt="주문하기" onmouseover="this.src='./images/footer-icon/info_select.png'" onmouseout="this.src='./images/footer-icon/info.png'">
            </a>
            <div class="footer-txt text-muted">주문하기</div>
        </li>

        <li class="col-3">
            <a href="#none">
                <img src="./images/footer-icon/leaflet.png" alt="전단지">
            </a>
            <div class="footer-txt text-muted">전단지</div>
        </li>

        <li class="col-3">
            <a href="#none">
                <img src="./images/footer-icon/message.png" alt="메세지">
            </a>
            <div class="footer-txt text-muted">메세지</div>
        </li>

        <li class="col-3">
            <a href="#none">
                <img src="./images/footer-icon/order.png" alt="장바구니">
            </a>
            <div class="footer-txt text-muted">장바구니</div>
            <div class="cart-count">0</div>
        </li>

    </ul>

</div>