<!--header start-->
<div id="header-wrap" class="carousel slide" data-ride="carousel">
    <!--img-slider start-->
    <div class="carousel-inner img-slider">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://s3.ap-northeast-2.amazonaws.com/image.gawooplus.com/eeyo/20200401223328523859.jpg" alt="img01">

            <div class="img-txt pt-3">
                <h3>이요마트</h3>
                <p class="my-0">주문 가능시간 <span>24시간</span></p>
                <p>최소 주문금액 <span>30,000</span></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://s3.ap-northeast-2.amazonaws.com/image.gawooplus.com/eeyo/20200401223331394245.jpg" alt="img01">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://s3.ap-northeast-2.amazonaws.com/image.gawooplus.com/eeyo/20200401223333986147.jpg" alt="img02">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://s3.ap-northeast-2.amazonaws.com/image.gawooplus.com/eeyo/20200401223337045221.jpg" alt="img03">
        </div>
    </div>
    <!--img-slider end-->

    <!--title-box start-->
    <!-- <div class="row title-box border">
          <h3 class="col-12 text-dark">이요마트</h3>
          <p class="col-12 sub-txt">주문 가능시간 <strong style="color: #fb7b0c">24시간</strong></p>
          <p class="col-12 sub-txt mb-4">최소 주문금액 <strong style="color: #fb7b0c">30,000</strong></p>
        </div> -->
    <!--title-box end-->
</div>
<!--header end-->

<!--category start-->
<div class="row category-wrap sticky-top mb-0">



    <div class="col input-group search-box mx-3 pt-3">
        <input type="text" class="form-control" placeholder="검색어를 입력해주세요.">

        <div class="input-group-append">
            <button class="btn" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>

    <div class="col">
        <div class="row main-category-box mb-3">
            <div class="scroll-menu">
                <nav id="navigation">
                    <ul class="list-wrap mx-3 px-1 my-3">
                        <!-- <li id="search" class="category-list"><a href="#none"><i class="fas fa-search"></i> 검색</a></li>
              <li id="list01" class="category-list"><a href="#none">이벤트</a></li> -->
                        <li id="list02" class="category-list"><a href="#none">농산</a></li>
                        <li id="list03" class="category-list"><a href="#none">정육/수산</a></li>
                        <li id="list04" class="category-list"><a href="#none">유제품/냉장/냉동</a></li>
                        <li id="list05" class="category-list"><a href="#none">가공식품</a></li>
                        <li id="list06" class="category-list"><a href="#none">유아/미용/세제</a></li>
                        <li id="list07" class="category-list"><a href="#none">생활용품</a></li>
                        <li id="list08" class="category-list"><a href="#none">가전</a></li>
                        <li id="list09" class="category-list"><a href="#none">잡화</a></li>
                        <li id="list10" class="category-list"><a href="#none">식자재</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row sub-category-box mb-0">
            <div class="scroll-menu">
                <nav id="navigation">
                    <ul class="list-wrap mx-3 px-1">
                        <li id="list02-01" class="category-list"><a href="#none">야채/채소</a></li>
                        <li id="list02-02" class="category-list"><a href="#none">과일/냉동과일</a></li>
                        <li id="list02-03" class="category-list"><a href="#none">기타</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--category end-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    // $('.carousel').carousel({interval: 1500});
</script>