{% load humanize %}
<!-- <div class="container-fluid product-modal px-0 mt-3">

  <div class="row mb-2">

    <h2 class="col pl-4">{{name}}</h2>

    <a href="#" class="close-menu"><i class="fas fa-times fa-2x"></i></a>
  </div>

  <div class="row mb-3">
    <img class="col-6" src="{{img}}" alt="쪽파">

    <div class="col">
      <div class="row mt-3 mb-5 pb-3 form-group count-wrap">
        <label class="col-3 px-0 pr-1" for="product-count">수량</label>
        <input type="text" id="product-count" class="col-6 form-control text-right" value="1">
        <span class="col-3 px-1">개</span>
      </div>
      <h4 class="row text-right pr-4">
        <span class="col pr-3">{{price}}원</span>
      </h4>
    </div>
  </div>

  <div class=" row">
    <div class="col d-flex justify-content-around">
      <button class="btn btn-primary">
        장바구니에 담기
      </button>
      <button class="btn btn-danger">
        구매하기
      </button>
    </div>
  </div> -->

<div class="container-fluid product-modal d-flex flex-column align-items-center pt-4 px-0">
  <!-- image -->
  <div class="row">
    <img src="{{img}}" alt="{{name}}" onerror="this.style.display='none';">
  </div>

  <!-- price-name -->
  <div class="row">
    <h3 class="col">
      <span>{{name}}</span>
    </h3>
  </div>

  <!-- price-count -->
  <div class="row mb-4 w-100 text-center">

    <button class="minus border ml-4" type="button">
      <i class="fas fa-minus"></i>
    </button>


    <p class="col product-count">
      1

      <!-- <input type="text" value="1" id="productCount" class="w-25 border-0 text-center bg-white" disabled> -->
    </p>


    <button class="plus border mr-4" type="button" onclick="">
      <i class="fas fa-plus"></i>
    </button>
    <script>
      // $(function () {
      //   $('.minus').click(function (e) {
      //     e.preventDefault();
      //     var stat = $('.product-count').text();
      //     var num = parseInt(stat, 10);
      //     num--;
      //     if (num <= 0) {
      //       alert('더이상 줄일수 없습니다.');
      //       num = 1;
      //     }
      //     $('.product-count').text(num);
      //   });
      //   $('.plus').click(function (e) {
      //     e.preventDefault();
      //     var stat = $('.product-count').text();
      //     var num = parseInt(stat, 10);
      //     num++;

      //     if (num > 999) {
      //       alert('더이상 늘릴수 없습니다.');
      //       num = 999;
      //     }
      //     $('.product-count').text(num);
      //   });
      // });

      // $(function () {
      //   $('.plus').click(function (e) {
      //     e.preventDefault();
      //     var count = $('.product-count').text();
      //     var countInt = parseInt(count, 10);
      //     countInt++;
      //     if (countInt > 999) {
      //       alert('더이상 추가할 수 없습니다.');
      //       countInt = 999;
      //     }
      //     $('.product-count').text(countInt);
      //   });
      // })

      // function productAdd(e) {
      //   var count = document.getElementById('count').value();

      //   console.log(count++);
      // }
    </script>

  </div>

  <div class="row w-100 mb-0 text-center product-price">
    <p class="col-5">
      총 가격
    </p>
    <p class="col sum-price">
      {{price | intcomma}}
    </p>
  </div>

  <!-- button -->
  <div class="row btn-group mb-0 w-100 btn-wrap">
    <button class="btn btn-primary col-8" type="button">장바구니 담기</button>
    <button class="btn btn-danger col-4 close-menu" type="button">닫기</button>
  </div>

</div>
<script>
  // $(document).ready(function () {
  //   $(".plus").click(function () {
  //     var $this = $(this);
  //     var target = $this.parent('.product-count');
  //     var num = parseInt(target.text());
  //     num++;

  //     target.text(num);
  //   });

  //   $(".minus").click(function () {
  //     var $this = $(this);
  //     var target = $this.parent('.product-count');
  //     var num = parseInt(target.text());
  //     num -= ((num === 1) ? 0 : 1); //1이하로는 못내려가게 한다 

  //     target.text(num);
  //   });s
  // })

  // var count = $('.product-count').text();
  // var count = document.getElementById('count').innerText;
  // alert(count);

</script>